
<div>
    <h2> Welcome to Media Blog." </h2>
    <p>
        Congratulations! You're almost set to start with Media Blog.
        Just click the button below to {{action}}.
    </p>
    <a href={{url}} style="background: crimson; text-decoration: none; color: white; padding: 10px 20px; margin: 10px 0; display: inline-block;"> 
        Media Dashboard
    </a>
    <p>
        If the button doesn't work for any reason, you can also click on the link below:
    </p>
    <div>
        {{url}}
    </div>
</div>